.container {
  width: 20%;
  min-width: 212px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  background-color: white;
  border-radius: 4px;
  margin-bottom: 20px;
  color: white;
  font-weight: bold;
  margin-right: 20px;
  box-shadow: 2px 2px 2px 2px #666666;
  h4 {
    width: 100%;
    background-color: #2857a3;
    padding: 10px;
    margin: 0px;
  }
  button {
    background-color: transparent;
    margin-left: 15px;
    border: none;
    text-align: left;
    color: #666666;
    &:hover {
      color: #2857a3;
    }
  }
}
