.container {
  width: 98%;
  margin: auto;
  .topMenu {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    button {
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      border: solid 1px #ccc;
      background-color: transparent;
      padding: 4px 8px 4px 8px;
      margin-left: 10px;
      &:hover , &.active {
        background: url('assets/category.jpg');
        color: white;

      }
    }
  }
  .content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
