.container {
  width: 20%;
  min-width: 212px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  background-color: white;
  border-radius: 4px;
  margin-bottom: 20px;
  color: white;
  font-weight: bold;
  margin-right: 20px;
  box-shadow: 1px 0px 1px 1px #666;
  h4 {
    width: 100%;
    background-color: #2857a3;
    padding: 10px;
    padding-left: 20px;
    margin: 0px;
  }
  button {
    background-color: transparent;
    padding-left: 25px;
    border: none;
    text-align: left;
    color: #666666;
    &:hover, &.active  {
      background: url('assets/category.jpg');
      color: white;
    }
  }
}
