.container {
  width: 98%;
  margin: auto;
  .topMenu {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    button {
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      border: solid 1px #ccc;
      background-color: transparent;
      padding: 4px 8px 4px 8px;
      margin-left: 10px;
      display: block;
      &:hover , &.active {
        background: url('assets/category.jpg');
        color: white;

      }
    }
  }
  .contentInside {
    // border: solid 1px #ccc;
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    @media (max-width: 768px) {
      flex-wrap: wrap;
    }
    .product {
      width: 80%;
      display: flex;
      flex-wrap: wrap;
      // border-left: solid 1px #ccc;
      @media (max-width: 768px) {
        width: 100%;
      }
    }
  }

}
