$green-primary: #008345;
$common-background: #f8fcfe;
$matterhorn: #4c4c4c;
$disabled: #d8dbdb;
$warning-required-field: #dd621d;
$warning-required-hover: #f9762c;
$warning-required-field-2: #dd625d;
$input-bottom-error: #f00;
$input-bottom-normal: #cacaca;
$border-button: #a0a0a0;
$bg-btn-green: #4caf50;
$bg-btn-green-hover: #019106;
$text-grey: #7a7a7a;
$text-white: #ffffff;

$grey-background: #f8f8f8;
$dream-site-background: #03993f;
$white: #fff;
$black: #000;
$jungle-green: #008345;
$dropdown-bg-hover: #f3f3f3;
$border-process: #979797;
$text-grey-toc: #666666;
$title-grey-toc: #383838;
$img-border: #efefef;
$bg-fb: #3a69aa;
$bg-google: #d1270f;
$line-tracker: #929292;
$benefit-title: #a3a3a3;
$border-card-detail: #e2e2e2;
$promotionInfo: #f95428;
$bg-benefits: #f7f7f7;
$border-merchant: #d9d9d9;
$bg-aqua: #fc6358;
