$text-font-size: 12px;
$text-font-size-1: 13px;
$text-font-size-2: 14px;
$text-font-size-3: 16px;
$text-font-size-4: 17px;
$input-font-size: 18px;
$text-font-size-5: 28px;
$text-font-size-6: 19px;
$text-font-size-7: 20px;
$text-font-size-8: 15px;
