.pageNotFoundContent {
  text-align: center;
  padding-top: 5rem;

  .message {
    font-size: 28px;
	  font-weight: 500;
    padding: 2rem 1rem;
  }

  .solution {
    font-size: 16px;
    padding: 0 1rem;
  }
}
