:global {
  .slick-dots li button:before {
    font-size: 20px;
  }
  .slick-next:before {
    content: '';
  }
  .slick-next {
    right: 20px;
    z-index: 10;
  }
  .slick-prev {
    left: 20px;
    z-index: 10;
  }
  .slick-prev:before {
    content: '';
  }
}
.container {
  width: 98%;
  max-width: 1280px;
  margin: auto;
  img {
    width: 100%;
  }
}
:global {
  .slick-dots li button:before {
    font-size: 26px;
  }
}
